/Drinks.cpp
/Football.cpp
/Football.exe
/Horseshoe.cpp
/Horseshoe.exe
/LittleElephant.cpp
/LittleElephant.exe
/Presents.cpp
/Presents.exe
/Rewards.cpp
/Rewards.exe
/Stones.cpp
/Stones.exe
/TeamOlympiad.cpp
/TeamOlympiad.exe
/Twins.cpp
/Twins.exe
/vanyafence.cpp
/vanyafence.exe
/Worms.cpp
/Worm.exe
